<form method="POST" action="/new">
  <input type="text" name="messageUser" placeholder="Name" />
  <input type="text" name="messageText" placeholder="Message" />
  <input type="submit" value="Submit" />
</form>
  
